* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: aliceblue;
    background-color: #000000;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-right: 1rem;
    padding-left: 1rem;
}

img {
    margin-top: -80px;
    width: 30rem;
    height: 30rem;
    width: 100%;
    height: auto;
}

h2 {
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}

h2 span {
    font-size: 1.5em;
    color: #fff;
    font-weight: 700;
}

#my-name {
    font-size: 55px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

#my-name.clipped {
    background-image: linear-gradient(239deg, #f06, #00b2ff);
}

.clipped {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#btn a {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    text-decoration: none;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: #fff;
    z-index: 1;
    font-weight: 400;
    letter-spacing: 1px;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(50px);
}

#btn a:hover {
    letter-spacing: 3px;
}

#btn a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
    transform: skewX(45deg) translateX(0);
    transition: 0.0s;
}

#btn:hover a::before {
    transform: skewX(45deg) translateX(120%);
}

input:focus, button:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.containerSpinner {

}

.spinner {
    position: fixed;
    background: rgba(0, 0, 0, 0.32);
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 55%;
    left: 25%;
    z-index: 2000;
}

label {
    margin-top: 10px;
}

@media (max-width: 600px) {
    .spinner{
        left: 2%;
        top: 70%;
        width: 390px;
        height: 190px;
    }
    .h2 span, #my-name {
        justify-content: center;
        font-size: 2rem;
    }
}